@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
}

body {
    padding-top: 30px;
    text-align: center;
}

p {
    color: #000000;
    margin: 100px;
    margin-top: 100px;
    font-size: 25px;
}

.red {
    padding: 5px;
    border: 5px solid rgb(130, 33, 33);
    color: white;
    background-color: rgb(130, 33, 33);
}

h1 {
    color: #FA58D0;
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    text-shadow: 3px 3px 5px #fab8e2;
    font-weight: bold;
}

button {
    background-color: #eb92cb;
    border: 5px solid #FFFFFF;
    padding: 20px 50px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    box-shadow: 3 px #999;
    margin: 5px;
    color: #FFFF;
    position: static;
    font-size: 22px;
    text-decoration: none;
}

button.icons {
    background-color: #eb92cb;
    border: 5px solid #FFFFFF;
    padding: 18px 25px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    box-shadow: 3 px #999;
    margin: 5px;
    border-radius: 45px;
    color: #FFFF;
    position: relative;
    bottom: 90%;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}