@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
}

body {
    padding-top: 30px;
    text-align: center;
}

p {
    color: #000000;
    margin: 100px;
    margin-top: 100px;
    font-size: 1.8vw;
    letter-spacing: 1px;
}

h1 {
    color: #FA58D0;
    text-align: center;
    margin-top: 6.5vw;
    font-size: 5.3vw;
    text-shadow: 0.2vw 0.2vw 0.2vw #fab8e2;
    font-weight: bold;
}

h2 {
    position: relative;
    text-align: center;
    margin-top: 80px;
    text-shadow: 3px 3px 5px #fab8e2;
    font-weight: bold;
}

button {
    background-color: #eb92cb;
    border: 0.3vw solid #FFFFFF;
    padding: 1.2vw 3.1vw;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    box-shadow: 0.3vw #999;
    margin: 0.3vw;
    color: #FFFF;
    position: static;
    font-size: 1.3vw;
    text-decoration: none;
}

button.icons {
    background-color: #eb92cb;
    border: 0.3vw solid #FFFFFF;
    padding: 1.2vw 1.7vw;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    box-shadow: 0.3vw #999;
    margin: 0.3vw;
    border-radius: 33%;
    color: #FFFF;
    position: static;
    bottom: 90%;
}

img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}