@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
}

p {
    color: #000000;
    margin: 100px;
    margin-top: 100px;
    font-size: 20px;
}

h1 {
    color: #FA58D0;
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    text-shadow: 3px 3px 5px #fab8e2;
    font-weight: bold;
}

body {
    background-image: url(pinkStars.png);
    padding-top: 30px;
    text-align: center;
}

button {
    background-color: #eb92cb;
    border: 5px solid #FFFFFF;
    padding: 15px 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    box-shadow: 3 px #999;
    margin: 5px;
    border-radius: 30px;
    color: #FFFF;
}

img {
    width: 65px;
    height: 65px;
    border-radius: 20px;
}